.example-card {
    max-width: 400px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-full-width {
    width: 100%;
    padding: 0px;
  }

  .form{
      padding: 0px;
  }
  .tool{
      padding: 0px;
      text-align: justify;
  }
  .mat-dialog-container {
   padding: 10px;
  }

  .width-g{
    width: 296px;
    padding-top: 8px;
  }
  .p{
    padding-bottom: 18px;
  }
  #googleId{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    padding-bottom: 2px;
  }

  #fb{
    width: 22px;
    height: 22px;
    margin-right: 4px;
    padding-bottom: 2px;
  }