.example-card {
    max-width: 400px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-full-width {
    width: 100%;
    padding: 0px;
  }

  .form{
      padding: 0px;
  }
  .tool{
      padding: 0px;
      text-align: justify;
  }
  .mat-dialog-container {
   padding: 10px;
  }

  .width-g{
    width: 296px;
    padding-top: 8px;
  }
  #forgot{
    margin-top: 70px;
  }
  .p{
    padding-bottom: 7px;
  }
  #or{
    padding-bottom: 2px;
  }
  .mat-typography p {
    margin: 0 0 -13px;
}

  #googleId{
    width: 18px;
    height: 18px;
    margin-right: 4px;
    padding-bottom: 2px;
  }
  .example-card {
    max-width: 352px;
    margin-left: 490px;
    margin-top: 30px;
  }
.forgot{
  cursor: pointer;
  text-decoration: none;
}
  #fb{
    width: 22px;
    height: 22px;
    margin-right: 4px;
    padding-bottom: 2px;
  }