<app-navbar></app-navbar>

<mat-card *ngIf="!forgot_password" class="example-card">
    <mat-card-content>
<mat-tab-group mat-align-tabs="start">

    <mat-tab label="SignIn">
        <div class="container" style="margin-top: 20px;">
            <mat-cart style="margin-top: 2px;">
                <form [formGroup]="loginDetails">
                    <div class="container form">
                        <mat-form-field floatLabel="auto" hideRequiredMarker class="example-full-width"
                            appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" placeholder="username" required>
                        </mat-form-field>
                    </div>
                    <div class="container form" *ngIf="!forgot_password">
                        <mat-form-field floatLabel="auto" hideRequiredMarker class="example-full-width"
                            appearance="outline">
                            <mat-label>Password</mat-label>
                            <input  type="password" formControlName="password" required matInput placeholder="password" >
                        </mat-form-field>
                    </div>
                    <!-- forgot password input filed -->
                    <div class="container form" *ngIf="forgot_password">
                        <mat-form-field floatLabel="auto" hideRequiredMarker class="example-full-width"
                            appearance="outline">
                            <mat-label>mobile</mat-label>
                            <input  type="number" formControlName="password" required matInput placeholder="mobile" >
                        </mat-form-field>
                    </div>
                    <div class="container ">
                           <a class="forgot" (click)="forgot()" routerLink="/forgot-password">
                               forgot password ?
                           </a>
                    </div>
                     <p id="or">------------------------------------OR-----------------------------------</p>
                    <!-- Google authentication -->
                    <div class="container form p">
                        <button class="btn btn-outline-success width-g">
                            <img src="/assets/img/google.png" id="googleId" alt="" srcset="">
                            Signin via Google
                        </button>

                    </div>
                    <!-- <div>
                        <p>------------------------------------OR------------------------------------</p>
                    </div> -->
                    <!-- Login via facebook -->
                    <div class="container form p">
                        <button class="btn btn-outline-primary width-g">
                            <img src="/assets/img/facebookk.png" id="fb" alt="" srcset="">
                            Signin via Facebook
                        </button>
                    </div>
                    <!-- login submit -->
                    <div class="container form"  style="text-align: center;">
                        <button (click)="saveForm()" class="width-g" mat-dialog-close mat-raised-button color="primary">Login</button>
                    </div>
                </form>
            </mat-cart>
        </div>


    </mat-tab>
    <mat-tab label="SignUp">
        <user-registration></user-registration>
    </mat-tab>

</mat-tab-group>
</mat-card-content>
</mat-card>