<h3 >
    <mat-toolbar class="tool">
        Welcome to Shadi.com
    </mat-toolbar>
</h3>
<mat-tab-group mat-align-tabs="start">
    
   <mat-tab label="SignIn">    
        <div class="container" style="margin-top: 20px;">
        <mat-cart style="margin-top: 2px;">
            <form [formGroup]="loginDetails" >
            <div class="container form">
                <mat-form-field  class="example-full-width" appearance="fill">
                   <input matInput  formControlName="username"  placeholder="username">
                </mat-form-field>
            </div>
            <div class="container form">
                <mat-form-field class="example-full-width" appearance="fill" >
                   <input type="password" formControlName="password"   matInput placeholder="password">
                </mat-form-field>
            </div>
            <div class="container" style="text-align: center;">
                <button (click)="saveForm()" mat-dialog-close mat-raised-button color="primary">Login</button>
               </div>
        </form>
        </mat-cart>
    </div>
       
        
    </mat-tab>
    <mat-tab label="SignUp">Content 2</mat-tab>

</mat-tab-group>